<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Űrháború</title>
    <link rel="stylesheet" data-th-href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/mobile.css">
    <script src="../static/js/mobile.js" type="text/javascript"></script>
</head>
<body>
<div id="page">
    <div id="header">
        <div>
            <a href="index.html" class="logo"><img src="../static/images/logo.png" alt=""></a>
            <ul id="navigation">
                <li class="selected">
                    <a href="../templates/index.html">Főoldal</a>
                </li>
                <li>
                    <a href="../templates/ships.html">Űrhajók</a>
                </li>
                <li class="menu">
                    <a href="../templates/crew.html">Legénység</a>
                </li>
                <li>
                    <a href="../templates/login.html">Belépés</a>
                </li>
                <li>
                    <a href="../templates/register.html">Regisztráció</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="container">
    <div id="menubar">
        <a data-th-href="@{/ships}">Legénység</a>
    </div>
    <div>
        <table>
            <tr>
                <th>Név</th>
                <th>Rang</th>
            </tr>
            <tr data-th-each="crew : ${spaceship.crews}">
                <td data-th-text="${crew.crewName}"></td>
                <td data-th-text="${crew.crewRank}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>