<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Űrháború</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/mobile.css">
    <script src="../static/js/mobile.js" type="text/javascript"></script>
</head>
<body>
<div id="page">
    <div id="header">
        <div>
            <a href="index.html" class="logo"><img src="../static/images/logo.png" alt=""></a>
            <ul id="navigation">
                <li class="selected">
                    <a href="index.html">Főoldal</a>
                </li>
                <li>
                    <a href="ships.html">Űrhajók</a>
                </li>
                <li class="menu">
                    <a href="crew.html">Legénység</a>
                </li>
                <li>
                    <a href="spaceship_new.html">Regisztráció</a>
                </li>
                <li>
                    <a href="login.html">Belépés</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="body" class="home">
        <div class="header">
            <div>
                <img src="../static/images/satellite.png" alt="" class="satellite">
                <h3>A Gyarmatok Szövetsége fellázadt  </h3>
                <h3>a Bolygóközi Köztársaság nyerészkedése és elnyomása ellen.</h3>

                <h3>Űrháború</h3>
                <ul>
                    <li>
                        <a href="ships.html"><img src="../static/images/project-image1.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="crew.html"><img src="../static/images/project-image2.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="login.html"><img src="../static/images/project-image3.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="spaceship_new.html"><img src="../static/images/project-image4.jpg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="body">
            <div>
                <p>
                    A technológia fejlődésének hála az emberiség képessé vált az űr meghódítására - és meg is tette azt: számtalan bolygót fedezett fel, és gyarmatosított. Ám míg a Föld-lakók élete felvirágzott, a gyarmatosított bolygókon élők napjai kemény munkával és küzdelmekkel teltek - mert majdnem minden, amiért ők dolgoztak, a Föld kincseit gyarapította.
                    Ezért egyre nőtt a feszültség a Föld és a Gyarmatok között, míg ki nem robbant az elkerülhetetlen háború...
                </p>
                <p>
                    A Gyarmatok Szövetsége fellázadt a Bolygóközi Köztársaság nyerészkedése és elnyomása ellen. A Bolygóközi Köztársaság pedig a Föld vezetésével ellentámadásba lendült.
                    A háború már évek óta tart, az összecsapások kegyetlenek és véresek.
                    Ki tudja, mikor lesz vége a pusztításnak - ha vége lesz egyáltalán valamikor...
                </p>
                <br />
                <h1>Addig is nem tehetünk mást,</h1>
                <p>
                    mint hogy hadsereget toborzunk, és felkészítjük az űrhajóinkat a háborúra. Ehhez azonban minden technikai segítségre szükségünk van...
                </p>
            </div>
        </div>

    </div>
    <div id="footer">
        <div class="footnote">
            <div>
                <p>&copy; 2022 BY Gyarmatok Szövetség | ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>