<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Űrháború</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/mobile.css">
    <script src="../static/js/mobile.js" type="text/javascript"></script>
  </head>
<body>
<div id="page">
  <div id="header">
    <div>
      <a href="index.html" class="logo"><img src="../static/images/logo.png" alt=""></a>
      <ul id="navigation">
        <li class="selected">
          <a href="index.html">Főoldal</a>
        </li>
        <li>
          <a href="ships.html">Űrhajók</a>
        </li>
        <li class="menu">
          <a href="crew.html">Legénység</a>
        </li>
        <li>
          <a href="spaceship_new.html">Regisztráció</a>
        </li>
        <li>
          <a href="login.html">Belépés</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="container">
  <div id="menubar">
    <a data-th-href="@{/ships}">A flottában lévő űrhajók</a>
    <a data-th-href="@{/ships/active}">Aktivitás jelző</a>
  </div>
  <div>
    <table>
      <tr>
        <th>Regisztrációs kód</th>
        <th>Név</th>
        <th>Űrhajó osztály</th>
        <th>Aktív?</th>
      </tr>
      <tr data-th-each="spaceship : ${spaceships}">
        <td data-th-text="${spaceship.registrationCode}"></td>
        <td data-th-text="${spaceship.name}"></td>
        <td data-th-text="${spaceship.spaceShipClass}"></td>
        <td data-th-text="${spaceship.isActive}"></td>
      </tr>
    </table>
  </div>
</div>

</body>
</html>